/*
Paper CSS v.0.1.0
Created on  : 21/12/2018, 5:30:55 PM
Author      : Hansen Lee
*/
/*--------------------------------------------------------------
TABLE OF CONTENTS
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
   15.1 Badges
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*
 * 1.0 Normalize
 */

[hidden]
{
    display:none;
}

:root
{
}
html, body, div, span, header, footer, aside, 
nav, menu, main, section, article, details, 
h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, 
em, small, big, strong, b, u, i, 
sub, sup, 
del, strike, q, blockquote, cite, time, address, code, 
pre, a, img, center, hr, form, fieldset, legend, label, 
input, textarea, button, table, caption, tbody, thead, 
tfoot, tr, th, td, iframe, object, canvas, audio, video, embed
{
    margin:0;
    padding:0;
    border:0;
}
body{
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#FFF;
    font-size:1em;
    transition: height 0.66s ease-out;
    -moz-transition: height 0.66s ease-out;
    -webkit-transition: height 0.66s ease-out;
}
*,*:before,*:after
{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.bg-primary{background-color:#00ACFF;}

/*
 * 3.0 Alignments
 */

/*Margin*/
.m-0{margin:0rem;}
.m-2{margin:0.25rem;}
.m-4{margin:0.5rem;}
.m-6{margin:0.875rem;}
.m-8{margin:1rem;}

/*Margin Top*/
.mt-0{margin-top:0rem;}
.mt-2{margin-top:0.25rem;}
.mt-4{margin-top:0.5rem;}
.mt-6{margin-top:0.875rem;}
.mt-8{margin-top:1rem;}

/*Margin Bottom*/
.mb-0{margin-bottom:0rem;}
.mb-2{margin-bottom:0.25rem;}
.mb-4{margin-bottom:0.5rem;}
.mb-6{margin-bottom:0.875rem;}
.mb-8{margin-bottom:1rem;}

/*Margin Left*/
.ml-0{margin-left:0rem;}
.ml-2{margin-left:0.25rem;}
.ml-4{margin-left:0.5rem;}
.ml-6{margin-left:0.875rem;}
.ml-8{margin-left:1rem;}

/*Margin Right*/
.mr-0{margin-right:0rem;}
.mr-2{margin-right:0.25rem;}
.mr-4{margin-right:0.5rem;}
.mr-6{margin-right:0.875rem;}
.mr-8{margin-right:1rem;}

/*Margin Vertical*/
.mvr-0{margin-top:0rem; margin-bottom:0rem;}
.mvr-2{margin-top:0.25rem; margin-bottom:0.25rem;}
.mvr-4{margin-top:0.5rem; margin-bottom:0.5rem;}
.mvr-6{margin-top:0.875rem; margin-bottom:0.875rem;}
.mvr-8{margin-top:1rem; margin-bottom:1rem;}

/*Margin Horizontal*/
.mhr-0{margin-left:0rem; margin-right:0rem;}
.mhr-2{margin-left:0.25rem; margin-right:0.25rem;}
.mhr-4{margin-left:0.5rem; margin-right:0.5rem;}
.mhr-6{margin-left:0.875rem; margin-right:0.875rem;}
.mhr-8{margin-left:1rem; margin-right:1rem;}

/*Padding*/
.p-0{padding:0rem;}
.p-2{padding:0.25rem;}
.p-4{padding:0.5rem;}
.p-6{padding:0.875rem;}
.p-8{padding:1rem;}

/*Padding Top*/
.pt-0{padding-top:0rem;}
.pt-2{padding-top:0.25rem;}
.pt-4{padding-top:0.5rem;}
.pt-6{padding-top:0.875rem;}
.pt-8{padding-top:1rem;}

/*Padding Bottom*/
.pb-0{padding-bottom:0rem;}
.pb-2{padding-bottom:0.25rem;}
.pb-4{padding-bottom:0.5rem;}
.pb-6{padding-bottom:0.875rem;}
.pb-8{padding-bottom:1rem;}

/*Padding Left*/
.pl-0{padding-left:0rem;}
.pl-2{padding-left:0.25rem;}
.pl-4{padding-left:0.5rem;}
.pl-6{padding-left:0.875rem;}
.pl-8{padding-left:1rem;}

/*Padding Right*/
.pr-0{padding-right:0rem;}
.pr-2{padding-right:0.25rem;}
.pr-4{padding-right:0.5rem;}
.pr-6{padding-right:0.875rem;}
.pr-8{padding-right:1rem;}

/*Padding Vertical*/
.pvr-0{padding-top:0rem; padding-bottom:0rem;}
.pvr-2{padding-top:0.25rem; padding-bottom:0.25rem;}
.pvr-4{padding-top:0.5rem; padding-bottom:0.5rem;}
.pvr-6{padding-top:0.875rem; padding-bottom:0.875rem;}
.pvr-8{padding-top:1rem; padding-bottom:1rem;}

/*Padding Horizontal*/
.phr-0{padding-left:0rem; padding-right:0rem;}
.phr-2{padding-left:0.25rem; padding-right:0.25rem;}
.phr-4{padding-left:0.5rem; padding-right:0.5rem;}
.phr-6{padding-left:0.875rem; padding-right:0.875rem;}
.phr-8{padding-left:1rem; padding-right:1rem;}


/*Text alignment*/
.t-align-left{text-align:left;}
.t-align-right{text-align:right;}
.t-align-center{text-align:center;}
.t-align-justify{text-align:justify;}

/*Vertical Align*/
/*Div*/
.v-align{
    display: table;
    margin: auto;
    width: 100%;
    height: 100%;
}
.v-align .default, .v-align .baseline{display:table-cell; vertical-align:baseline;}
.v-align .top{display:table-cell; vertical-align:top;}
.v-align .text-top{display:table-cell; vertical-align:text-top;}
.v-align .middle{display:table-cell; vertical-align:middle;}
.v-align .bottom{display:table-cell; vertical-align:bottom;}
.v-align .text-bottom{display:table-cell; vertical-align:text-bottom;}

/*Table or Span*/
.v-align-default, .v-align-baseline{vertical-align:baseline;}
.v-align-top{vertical-align:top !important;}
.v-align-text-top{vertical-align:text-top !important;}
.v-align-middle{vertical-align:middle !important;}
.v-align-bottom{vertical-align:bottom !important;}
.v-align-text-bottom{vertical-align:text-bottom !important;}

/*Content*/
.content-middle{display:table; margin:auto; width:100%; height:100%;}
.content-middle .element{display:table-cell; text-align:center; vertical-align:middle;}

/*Row Flex align*/
.flex-align-start{align-items:flex-start !important;}
.flex-align-center{align-items:center !important;}
.flex-align-end{align-items:flex-end !important;}
.flex-align-stretch{align-items:stretch !important;}
.flex-align-baseline{align-items:baseline !important;}

/*
 * 4.0 Clearings
 */
.clear{clear:both;}

/*
 * 5.0 Typography
 */
h1{margin:0.857rem 0 0.75rem 0; font-size:3.2em; line-height:110%;}
h2{margin:0.857rem 0 0.68rem 0; font-size:2.7em; line-height:110%;}
h3{margin:0.857rem 0 0.56rem 0; font-size:2.4em; line-height:110%;}
h4{margin:0.875rem 0 0.5rem 0; font-size:2em; line-height:110%;}
h5{margin:0.75rem 0 0.4375rem 0; font-size:1.75em; line-height:110%;}
h6{margin:0.857rem 0 0.375rem 0; font-size:1.5em; line-height:110%;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:inherit; font-weight:400; line-height:1.6;}

/*Paragraph*/
p{padding:0; font-family:inherit; font-size:1.12em; color:inherit; line-height:1.6; letter-spacing:0.015rem;}
b,strong{font-weight:700;}
.thin{font-weight:300;}
.light{font-weight:200;}
em{font-style:italic;}
blockquote{margin:1rem 0rem 1rem 0.75rem; padding-left:1rem; font-size:1.225em; font-style:italic; border-left: 0.286rem solid #ffcc80; line-height:1.5;}
blockquote:before{content:'\201c'; font-size:4em; line-height:0.8;}
cite{font-size:1em;}

/*Code*/
pre{
    background-color:#FCFCFC;
    margin:1rem 0;
    padding:0.025rem 0.5rem;
    border:1px solid #CCC;
    white-space: nowrap;
}
code, xmp{font-size:1.1em; line-height:1.3;}

/*List*/
ul{}
ol{}
dl{}
ul, ol, dl{margin-bottom:0.571rem; font-family:inherit; color:inherit;}

/*Tooltip*/
.tooltip{position:relative; display:inline-block;}
.tooltip .tooltiptext{background-color:#303030; border-color:#303030;}
.tooltip .tooltiptext
{
    visibility: hidden;
    width:120px;
    color:#FFF;
    text-align:center;
    padding:0.25rem 0;
    border-radius:0.3rem;
    position:absolute;
    z-index:1;
}

.tooltip:hover .tooltiptext {
  visibility:visible;
}
.tooltip-top
{
    /*width:120px;*/
    bottom:100%;
    left:50%;
    margin-left:-60px;
}
.tooltip-right {top:25%; left:110%;}
.tooltip-left{top:25%; right:110%;}
.tooltip-bottom
{
    /*width:120px;*/
    top:100%;
    left:50%;
    margin-left:-60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltiptext.tooltip-top::after
{
    content:" ";
    position:absolute;
    top:100%; /* At the bottom of the tooltip */
    left:50%;
    margin-left:-5px;
    border-width:5px;
    border-style:solid;
    border-top-color:inherit;
    border-left-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
}
.tooltiptext.tooltip-left::after
{
    content:" ";
    position:absolute;
    top:50%;
    left:100%; /* To the right of the tooltip */
    margin-top:-5px;
    border-width:5px;
    border-style:solid;
    border-top-color:transparent;
    border-left-color:inherit;
    border-right-color:transparent;
    border-bottom-color:transparent;
}
.tooltiptext.tooltip-right::after
{
    content:" ";
    position:absolute;
    top:50%;
    right:100%; /* To the left of the tooltip */
    margin-top:-5px;
    border-width:5px;
    border-style: solid;
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color:inherit;
    border-bottom-color:transparent;
}
.tooltiptext.tooltip-bottom::after
{
    content:" ";
    position:absolute;
    bottom:100%;  /* At the top of the tooltip */
    left:50%;
    margin-left:-5px;
    border-width:5px;
    border-style:solid;
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    border-bottom-color:inherit;
}

/*
 * 6.0 Form
 */
button, input, optgroup, select, textarea, a.btn{margin:0.75rem 0; padding:0.4rem 0.875rem 0.4rem; font:400 0.8em Arial;}

input.rounded, optgroup.rounded, select.rounded, textarea.rounded{border-radius:0.3rem; -moz-border-radius:0.3rem; -webkit-border-radius:0.3rem;}

/*Button*/
.btn
{
    letter-spacing:0.025rem; 
    text-align:center;
    outline:none;
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor:pointer;
}


.btn span{display:inline-block; position:relative; transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s;}
.btn span.right:after{content:'\00bb'; font-size:1.2em; position:absolute; opacity:0; top:-0.1rem; right:-1rem; transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s;}
.btn:hover span.right{padding-right:1rem;}
.btn:hover span.right:after{opacity:1; right:0;}

.btn span.left:before{content:'\00ab'; font-size:1.2em; position:absolute; opacity:0; top:-0.1rem; left:-1rem; transition:0.5s; -webkit-transition:0.5s; -moz-transition:0.5s;}
.btn:hover span.left{padding-left:1rem;}
.btn:hover span.left:before{opacity:1; left:0;}

/*Size*/
.btn.sm{padding:0.4rem 0.875rem 0.4rem;}
.btn.md{padding:0.6rem 1rem 0.6rem;}
.btn.lg{padding:0.8rem 1.35rem 0.8rem;}
.btn.xl{padding:1.2rem 1.5rem 1.2rem;}

.btn.click{background-color:rgba(0,0,0,0.1);}
.btn.disabled, .btn:disabled, .btn.disabled:disabled, .btn[disabled],.btn.disabled[disabled]
{
    pointer-events:none;
    cursor:default;
}

.btn.no-rounded{border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
.btn.rounded{border-radius:0.3rem; -moz-border-radius:0.3rem; -webkit-border-radius:0.3rem;}

.btn.default{}
.btn.primary{background-color:#007FFF; color:#FFF;}
.btn.secondary{background-color:#DEDFE5; color:#000;}
.btn.danger{background-color:#FF0040; color:#FFF;}
.btn.warning{background-color:#F9E900; color:#644A13;}
.btn.success{background-color:#70F900; color:#034915;}
.btn.info{background-color:#4FF4FF; color:#034947;}
.btn.dark{background-color:#303030; color:#FFF;}
.btn.link{background-color:#FFF; color:#024AFF;}
.btn.royal{background-color:#8002FF; color:#FFD700;}
.btn.vibe{background-color:#FF1088; color:#FFF;}
.btn.disabled{background-color:#D1D1D1; color:#AAA;}

.btn.default{border-width:1px;}
.btn.primary{border-width:1px; border-style:solid; border-color:#0373E4;}
.btn.secondary{border-width:1px; border-style:solid; border-color:#C4C6D1;}
.btn.danger{border-width:1px; border-style:solid; border-color:#E01145;}
.btn.warning{border-width:1px; border-style:solid; border-color:#F5CD0C;}
.btn.success{border-width:1px; border-style:solid; border-color:#68DC09;}
.btn.info{border-width:1px; border-style:solid; border-color:#39DCE7;}
.btn.dark{border-width:1px; border-style:solid; border-color:#111;}
.btn.link{border-width:1px; border-style:solid; border-color:#FFF; text-decoration:underline;}
.btn.royal{border-width:1px; border-style:solid; border-color:#6B0FC8;}
.btn.vibe{border-width:1px; border-style:solid; border-color:#D8177D;}
.btn.disabled{border-width:1px; border-style:solid; border-color:#BFBFBF;}

.btn.default:hover{}
.btn.primary:hover{background-color:#0373E4;}
.btn.secondary:hover{background-color:#C9CBD8;}
.btn.danger:hover{background-color:#E01145;}
.btn.warning:hover{background-color:#F5CD0C;}
.btn.success:hover{background-color:#68DC09;}
.btn.info:hover{background-color:#39DCE7;}
.btn.dark:hover{background-color:#111111;}
.btn.link:hover{background-color:#FFF; color:#0A1CB8; border-color:#FFF;}
.btn.royal:hover{background-color:#6B0FC8;}
.btn.vibe:hover{background-color:#D8177D;}
.btn.disabled:hover{background-color:#D1D1D1; border-color:#BFBFBF;}


/*
 * 9.0 Tables
 */
table{display:table; border-spacing:0rem; border-collapse:collapse; width:100%; margin:0.25rem 0rem 1rem;}
table tr
{
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
table thead tr th{padding:1rem 1rem;}
table td, table th{display:table-cell; padding:0.75rem 0.875rem; vertical-align:middle; text-align:left;}

.table{border:0;}
.table thead{border-bottom:3px solid #CCC;}
.table tbody tr{border-top:1px solid #CCC;}

.table.borderless{}
.table.borderless tbody tr, .table.borderless tbody tr td, .table.borderless thead tr th{border:0 solid #FFF;}
.table.borderless thead{border:0 solid #FFF;}

.table.bordered{}
.table.bordered tbody tr td, .table.bordered thead tr th{border:1px solid #CCC;}
.table.bordered thead{border-bottom:3px solid #CCC;}

.table.hover tr{}
.table.hover thead tr:hover{box-shadow:0px 3px 6px #AAA; -moz-box-shadow:0px 3px 6px #AAA; -webkit-box-shadow:0px 3px 6px #AAA;}
.table.hover tbody tr:hover{background-color:rgba(0,0,0,0.05);}
.table.stripped.hover tbody tr:nth-of-type(odd):hover{background-color:rgba(0,0,0,0.05);}

.table.stripped{}
.table.stripped tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,0.03);}

.table.dark{}
.table.dark thead tr, .table.dark tbody tr{background-color:#313131;}
.table.dark thead, .table.dark thead tr, .table.dark tbody tr{color:#FFF; border-color:#191717;}
.table.dark.hover thead tr:hover, .table.dark.hover tbody tr:hover{background-color:rgba(0,0,0,0.75);}
.table.dark.stripped tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,0.85);}
.table.dark.stripped.hover tbody tr:nth-of-type(odd):hover{background-color:rgba(0,0,0,0.75);}

.table.light thead{background-color:#FFF;}

.table.responsive{overflow-x:auto;}

/*
 * 10.0 Links
 */
a
{
    display:inline-block; 
    text-decoration:none; 
    -webkit-tap-highlight-color:transparent; 
    transition:background-color .6s; 
    -moz-transition:background-color .6s;
    -webkit-transition:background-color .6s;
    cursor:pointer;
}

/*
 * 12.0 Navigation
 */
.navbar
{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:0.5rem 1rem;
    clear:both;
}
.navbar a{margin:0; padding:0; text-decoration:none; display:inline-block; border:0;}
.navbar .logo, .navbar .menubar, .navbar .right-menubar
{
    position:relative;
    top:0;
    margin:0;
    text-decoration:none;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.navbar .logo{padding:0 1rem 0 0;}
.navbar .logo img{max-height:100%; width:auto; margin:0 0.5rem 0 0; padding:0; top:0.25rem;}

.navbar .menubar
{
    
}
.navbar .menubar{padding:0;}
.navbar ul.menubar{list-style:none; float:left;}
.navbar ul.menubar li.menu-item{display:block; padding:0 0.5rem;}
.navbar ul.menubar li a{}

.navbar .right-menubar{padding:0;}
.navbar ul.right-menubar{list-style:none; float:right;}
.navbar ul.right-menubar li.menu-item{display:block; padding:0 0.5rem;}
/*
 * 13.0 Layout
 */

/*Front Page*/
.hero{display:block;}
.hero-vh1{height:8.3333333333vh;}
.hero-vh2{height:16.666666667vh;}
.hero-vh3{height:25vh;}
.hero-vh4{height:33.333333333vh;}
.hero-vh5{height:41.666666667vh;}
.hero-vh6{height:50vh;}
.hero-vh7{height:58.3333333333vh;}
.hero-vh8{height:66.6666666667vh;}
.hero-vh9{height:75vh;}
.hero-vh10{height:83.3333333333vh;}
.hero-vh11{height:91.6666666667vh;}
.hero-vh12{height:100vh;}

.hero.bg-cover, .bg-cover
{
    background-position:center center !important;
    background-repeat:no-repeat !important; 
    background-attachment:initial !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.hero-title, .hero-subtitle{display:inline-block;}

/*Grid Systems*/

.wrapper{margin:0; padding:0;}
.container{margin:0 auto; padding:0 1rem; max-width:1200px;}
.container-fluid{margin:0; padding:0 1rem; max-width:100%;}
.row
{
    padding:0rem;
    margin:0 -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.col, .row .col
{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex:1;
    max-width: 100%;
}
.col{
    padding:1rem;
    /*display: flex;
    justify-content: center;
    flex-direction: column;*/
    width: 100%;
    max-height: 100%;
}
.col.xl1, .col.xl2, .col.xl3, .col.xl4, .col.xl5, .col.xl6, .col.xl7, .col.xl8, .col.xl9, .col.xl10, .col.xl11, .col.xl12,
.col.l1, .col.l2, .col.l3, .col.l4, .col.l5, .col.l6, .col.l7, .col.l8, .col.l9, .col.l10, .col.l11, .col.l12,
.col.m1, .col.m2, .col.m3, .col.m4, .col.m5, .col.m6, .col.m7, .col.m8, .col.m9, .col.m10, .col.m11, .col.m12,
.col.s1, .col.s2, .col.s3, .col.s4, .col.s5, .col.s6, .col.s7, .col.s8, .col.s9, .col.s10, .col.s11, .col.s12
{
    position: relative;
    /*display: table;*/
    width: 100%;
    /*height: 100%;*/
}
    
.col12
{
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%;
}
.col11
{
    -ms-flex:0 0 91.6666666667%;
    flex:0 0 91.6666666667%;
    max-width:91.6666666667%;
}
.col10
{
    -ms-flex:0 0 83.3333333333%;
    flex:0 0 83.3333333333%;
    max-width:83.3333333333%;
}
.col9
{
    -ms-flex:0 0 75%;
    flex:0 0 75%;
    max-width:75%;
}
.col8
{
    -ms-flex:0 0 66.6666666667%;
    flex:0 0 66.6666666667%;
    max-width:66.6666666667%;
}
.col7
{
    -ms-flex:0 0 58.3333333333%;
    flex:0 0 58.3333333333%;
    max-width:58.3333333333%;
}
.col6
{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
.col5
{
    -ms-flex:0 0 41.666666667%;
    flex:0 0 41.666666667%;
    max-width:41.666666667%;
}
.col4
{
    -ms-flex:0 0 33.333333333%;
    flex:0 0 33.333333333%;
    max-width:33.333333333%;
}
.col3
{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
}
.col2
{
    -ms-flex:0 0 16.666666667%;
    flex:0 0 16.666666667%;
    max-width:16.666666667%;
}
.col1
{
    -ms-flex:0 0 8.3333333333%;
    flex:0 0 8.3333333333%;
    max-width:8.3333333333%;
}

/*Row Align Items*/
.align-items-start {-ms-flex-align: start!important; align-items: flex-start!important;}
.align-items-center {-ms-flex-align: center!important; align-items: center!important;}
.align-items-end {-ms-flex-align: end!important; align-items: flex-end!important;}

/*Grid Order*/
.order{}
.order-First
{
    -ms-flex-order:-1;
    order:-1;
}
.order-0
{
    -ms-flex-order:0;
    order:0;
}
.order-1
{
    -ms-flex-order:1;
    order:1;
}
.order-2
{
    -ms-flex-order:2;
    order:2;
}
.order-3
{
    -ms-flex-order:3;
    order:3;
}
.order-4
{
    -ms-flex-order:4;
    order:4;
}
.order-5
{
    -ms-flex-order:5;
    order:5;
}
.order-6
{
    -ms-flex-order:6;
    order:6;
}
.order-7
{
    -ms-flex-order:7;
    order:7;
}
.order-8
{
    -ms-flex-order:8;
    order:8;
}
.order-9
{
    -ms-flex-order:9;
    order:9;
}
.order-10
{
    -ms-flex-order:10;
    order:10;
}
.order-11
{
    -ms-flex-order:11;
    order:11;
}
.order-12
{
    -ms-flex-order:12;
    order:12;
}
.order-Last
{
    -ms-flex-order:13;
    order:13;
}

/*Square*/
.square{text-align:center; position:relative; overflow:auto;}
.square.overflow-auto{overflow:auto;}
.square.overflow-hidden{overflow:hidden;}

.square:before,
.square-xl1:before,
.square-xl2:before,
.square-xl3:before,
.square-xl4:before,
.square-xl5:before,
.square-xl6:before,
.square-xl7:before,
.square-xl8:before,
.square-xl9:before,
.square-xl10:before,
.square-xl11:before,
.square-xl12:before
{content:""; padding-top:100%; display:block;}

.square .content,
.square-xl1 .content,
.square-xl2 .content,
.square-xl3 .content,
.square-xl4 .content,
.square-xl5 .content,
.square-xl6 .content,
.square-xl7 .content,
.square-xl8 .content,
.square-xl9 .content,
.square-xl10 .content,
.square-xl11 .content,
.square-xl12 .content
{position:absolute; top:0; left:0; right:0; bottom:0;}

.square .content .info{display:table; width:100%; height:100%;}
.square .content .info .cell
{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    padding:0rem;
}
.square .content .action
{
    position:absolute; 
    bottom:0;
    right:0;
    padding:1rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
}
/*
.square .content .info .title,
.square .content .info p,
.square .content .info span,
.square .content .info .link
{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
*/
.square-xl12
{
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%;
}
.square-xl11
{
    -ms-flex:0 0 91.6666666667%;
    flex:0 0 91.6666666667%;
    max-width:91.6666666667%;
}
.square-xl10
{
    -ms-flex:0 0 83.3333333333%;
    flex:0 0 83.3333333333%;
    max-width:83.3333333333%;
}
.square-xl9
{
    -ms-flex:0 0 75%;
    flex:0 0 75%;
    max-width:75%;
}
.square-xl8
{
    -ms-flex:0 0 66.6666666667%;
    flex:0 0 66.6666666667%;
    max-width:66.6666666667%;
}
.square-xl7
{
    -ms-flex:0 0 58.3333333333%;
    flex:0 0 58.3333333333%;
    max-width:58.3333333333%;
}
.square-xl6
{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
.square-xl5
{
    -ms-flex:0 0 41.666666667%;
    flex:0 0 41.666666667%;
    max-width:41.666666667%;
}
.square-xl4
{
    -ms-flex:0 0 33.333333333%;
    flex:0 0 33.333333333%;
    max-width:33.333333333%;
}
.square-xl3
{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
}
.square-xl2
{
    -ms-flex:0 0 16.666666667%;
    flex:0 0 16.666666667%;
    max-width:16.666666667%;
}
.square-xl1
{
    -ms-flex:0 0 8.3333333333%;
    flex:0 0 8.3333333333%;
    max-width:8.3333333333%;
}

/*Example grids*/
.div-example{border:0px solid #CCC; padding:1rem 1rem; margin:0 0 1rem;}
.square-example,
.col-example
{
    background-color:#F0D7D7;
    color:#000;
    border:1px solid #D5BFBF;
    text-align:center;
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.col-example{padding:1rem 0rem;}
.col-example .row{padding:1rem;}
.col-example:hover{background-color:#AAE6F1; border:1px solid #ACBBBE;}
.div-example .row {margin:0 -1rem;}
.div-example span:nth-child(1){margin:auto;}
.div-example span:nth-child(n+2){margin:auto 10px;}

/*
 * 15.0 Widgets
 */

/*Badges*/

/*Cards*/
.card
{
    padding:0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0.12rem 0.5rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.12rem 0.5rem rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.12rem 0.5rem rgba(0, 0, 0, 0.2);
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius:0.3rem;
    -moz-border-radius:0.3rem;
    -webkit-border-radius:0.3rem;
    background-color:inherit;
    border:1px solid rgba(0, 0, 0, 0.2);
}
/*
.card
{
    box-shadow: 0 0.12rem 0.5rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.12rem 0.5rem rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.12rem 0.5rem rgba(0, 0, 0, 0.2);
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius:0.3rem;
    -moz-border-radius:0.3rem;
    -webkit-border-radius:0.3rem;
    background-color:inherit;
    border:1px solid rgba(0, 0, 0, 0.2);
}
*/
.card:hover
{
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.card.active
{
    box-shadow: inset 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 2rem 0 rgba(0, 0, 0, 0.2);
}

.card .card-img{position:relative; margin:0;}

.card img{margin:0; display:block;}

.card .content
{
    
}
.card .content, .card .action{padding:1rem 1rem;}
.card .action{border-top:1px solid #CCC; text-transform:uppercase;}
.card .action a{margin-right:1.5rem;}
.card .action a:nth-last-child(1){margin-right:0;}
.card .action a.link{text-decoration: underline; color:#024AFF;}
.card .action a.link:hover{color:#0A1CB8;}

.card .content h1,
.card .content h2,
.card .content h3,
.card .content h4,
.card .content h5,
.card .content h6,
.card .content p
{
    margin:0.5rem 0;
}

/*Card Horizontal*/
.card.horizontal
{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.card.horizontal .bg-cover
{
    border-radius:0.3rem 0 0 0.3rem;
    -moz-border-radius:0.3rem 0 0 0.3rem;
    -webkit-border-radius:0.3rem 0 0 0.3rem;
}
.card.horizontal .card-stacked, .card.basic .card-stacked
{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    color:inherit;
}
.card.horizontal .card-stacked .content, .card.basic .card-stacked .content
{
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
}

/*Card Column*/
.card.horizontal .card-img{max-width:50%; height:auto}                          
.card.horizontal .col-1, .card.basic.horizontal .col-1{
    -ms-flex:0 0 16.666666667%;
    flex:0 0 16.666666667%;
    max-width:16.666666667%;
}
.card.horizontal .col-2, .card.basic.horizontal .col-2{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
}
.card.horizontal .col-3, .card.basic.horizontal .col-3{
    -ms-flex:0 0 33.33%;
    flex:0 0 33.33%;
    max-width:33.33%;
}
.card.horizontal .col-4, .card.basic.horizontal .col-4{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
.card.horizontal .img, .card.basic .img
{
    width:100%;
    height: 100%;
    height:auto; 
    border-radius:0.3rem 0 0 0.3rem;
    -moz-border-radius:0.3rem 0 0 0.3rem;
    -webkit-border-radius:0.3rem 0 0 0.3rem;
}

/*Card Vertical*/
.card.vertical .bg-cover
{
    border-radius:0.3rem 0.3rem 0 0; 
    -moz-border-radius:0.3rem 0.3rem 0 0; 
    -webkit-border-radius:0.3rem 0.3rem 0 0;
}
.card.vertical .card-img,
.card.vertical .img
{
    width:100%;
    height:auto; 
    border-radius:0.3rem 0.3rem 0 0; 
    -moz-border-radius:0.3rem 0.3rem 0 0; 
    -webkit-border-radius:0.3rem 0.3rem 0 0;
    margin:0;
}
.card.vertical .card-stacked
{
    margin:0;
}
.card.basic.vertical .col-1, .card.basic.vertical .col-2, .card.basic.vertical .col-3, .card.basic.vertical .col-4
{
    width:100%;
}

/*Card Basic*/
.card.basic{}
.card.basic.horizontal .col-1.content,
.card.basic.horizontal .col-2.content,
.card.basic.horizontal .col-3.content,
.card.basic.horizontal .col-4.content
{padding:1rem; border-right:1px solid #CCC;}
/*
 * 16.0 Media
 */
img.responsive, video.responsive{max-width: 100%; height: auto; display:block;}


/*
 * 19.0 Media Queries
 */
@media (min-width: 1201px) {
    .wrapper{padding:0rem;}
    .col{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col.xl12
    {
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%;
    }
    .col.xl11
    {
        -ms-flex:0 0 91.6666666667%;
        flex:0 0 91.6666666667%;
        max-width:91.6666666667%;
    }
    .col.xl10
    {
        -ms-flex:0 0 83.3333333333%;
        flex:0 0 83.3333333333%;
        max-width:83.3333333333%;
    }
    .col.xl9
    {
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%;
    }
    .col.xl8
    {
        -ms-flex:0 0 66.6666666667%;
        flex:0 0 66.6666666667%;
        max-width:66.6666666667%;
    }
    .col.xl7
    {
        -ms-flex:0 0 58.3333333333%;
        flex:0 0 58.3333333333%;
        max-width:58.3333333333%;
    }
    .col.xl6
    {
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%;
    }
    .col.xl5
    {
        -ms-flex:0 0 41.666666667%;
        flex:0 0 41.666666667%;
        max-width:41.666666667%;
    }
    .col.xl4
    {
        -ms-flex:0 0 33.333333333%;
        flex:0 0 33.333333333%;
        max-width:33.333333333%;
    }
    .col.xl3
    {
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%;
    }
    .col.xl2
    {
        -ms-flex:0 0 16.666666667%;
        flex:0 0 16.666666667%;
        max-width:16.666666667%;
    }
    .col.xl1
    {
        -ms-flex:0 0 8.3333333333%;
        flex:0 0 8.3333333333%;
        max-width:8.3333333333%;
    }
    
    /*Grid Order*/
    .order{}
    .order-xlFirst
    {
        -ms-flex-order:-1;
        order:-1;
    }
    .order-xl0
    {
        -ms-flex-order:0;
        order:0;
    }
    .order-xl1
    {
        -ms-flex-order:1;
        order:1;
    }
    .order-xl2
    {
        -ms-flex-order:2;
        order:2;
    }
    .order-xl3
    {
        -ms-flex-order:3;
        order:3;
    }
    .order-xl4
    {
        -ms-flex-order:4;
        order:4;
    }
    .order-xl5
    {
        -ms-flex-order:5;
        order:5;
    }
    .order-xl6
    {
        -ms-flex-order:6;
        order:6;
    }
    .order-xl7
    {
        -ms-flex-order:7;
        order:7;
    }
    .order-xl8
    {
        -ms-flex-order:8;
        order:8;
    }
    .order-xl9
    {
        -ms-flex-order:9;
        order:9;
    }
    .order-xl10
    {
        -ms-flex-order:10;
        order:10;
    }
    .order-xl11
    {
        -ms-flex-order:11;
        order:11;
    }
    .order-xl12
    {
        -ms-flex-order:12;
        order:12;
    }
    .order-xlLast
    {
        -ms-flex-order:13;
        order:13;
    }
}
@media screen and (max-width: 1200px) and (min-width: 993px) {
    .wrapper{padding:0rem;}
    .col{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col.l12
    {
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%;
    }
    .col.l11
    {
        -ms-flex:0 0 91.6666666667%;
        flex:0 0 91.6666666667%;
        max-width:91.6666666667%;
    }
    .col.l10
    {
        -ms-flex:0 0 83.3333333333%;
        flex:0 0 83.3333333333%;
        max-width:83.3333333333%;
    }
    .col.l9
    {
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%;
    }
    .col.l8
    {
        -ms-flex:0 0 66.6666666667%;
        flex:0 0 66.6666666667%;
        max-width:66.6666666667%;
    }
    .col.l7
    {
        -ms-flex:0 0 58.3333333333%;
        flex:0 0 58.3333333333%;
        max-width:58.3333333333%;
    }
    .col.l6
    {
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%;
    }
    .col.l5
    {
        -ms-flex:0 0 41.666666667%;
        flex:0 0 41.666666667%;
        max-width:41.666666667%;
    }
    .col.l4
    {
        -ms-flex:0 0 33.333333333%;
        flex:0 0 33.333333333%;
        max-width:33.333333333%;
    }
    .col.l3
    {
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%;
    }
    .col.l2
    {
        -ms-flex:0 0 16.666666667%;
        flex:0 0 16.666666667%;
        max-width:16.666666667%;
    }
    .col.l1
    {
        -ms-flex:0 0 8.3333333333%;
        flex:0 0 8.3333333333%;
        max-width:8.3333333333%;
    }
    
    /*Grid Order*/
    .order{}
    .order.lFirst
    {
        -ms-flex-order:-1;
        order:-1;
    }
    .order-l0
    {
        -ms-flex-order:0;
        order:0;
    }
    .order-l1
    {
        -ms-flex-order:1;
        order:1;
    }
    .order-l2
    {
        -ms-flex-order:2;
        order:2;
    }
    .order-l3
    {
        -ms-flex-order:3;
        order:3;
    }
    .order-l4
    {
        -ms-flex-order:4;
        order:4;
    }
    .order-l5
    {
        -ms-flex-order:5;
        order:5;
    }
    .order-l6
    {
        -ms-flex-order:6;
        order:6;
    }
    .order-l7
    {
        -ms-flex-order:7;
        order:7;
    }
    .order-l8
    {
        -ms-flex-order:8;
        order:8;
    }
    .order-l9
    {
        -ms-flex-order:9;
        order:9;
    }
    .order-l10
    {
        -ms-flex-order:10;
        order:10;
    }
    .order-l11
    {
        -ms-flex-order:11;
        order:11;
    }
    .order-l12
    {
        -ms-flex-order:12;
        order:12;
    }
    .order-lLast
    {
        -ms-flex-order:13;
        order:13;
    }
}

/*Exemption*/
@media screen and (max-width:992px)
{
    /*Table*/
    .table.responsive{position:relative; width:100%; display:block; overflow-x:auto; border-collapse:collapse; border-spacing:0;}
    .table.responsive thead, .table.responsive tbody{display:table-row; float:left;}
    .table.responsive tbody{display:block; width:auto; position:relative; overflow-x:auto; white-space:nowrap;}
    .table.responsive th{display:block; text-align:right;}
    .table.responsive td{display:block; text-align:left; min-width:1.25rem;}
    .table.responsive th, .table.responsive td{margin:0; vertical-align:top; padding:1.5rem 2rem;}
    .table.responsive thead tr{display:inline-block; padding:0 1.5rem 0 0;}
    .table.responsive tbody tr{border:0; display:inline-block; vertical-align:top;}
    /*.table.responsive tbody{position:relative; display:block; width:auto; vertical-align:middle; overflow-x:auto; white-space:nowrap;}*/
}

@media screen and (max-width: 992px) and (min-width: 611px) {
    .wrapper{padding:0rem;}
    .col{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col.m12
    {
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%;
    }
    .col.m11
    {
        -ms-flex:0 0 91.6666666667%;
        flex:0 0 91.6666666667%;
        max-width:91.6666666667%;
    }
    .col.m10
    {
        -ms-flex:0 0 83.3333333333%;
        flex:0 0 83.3333333333%;
        max-width:83.3333333333%;
    }
    .col.m9
    {
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%;
    }
    .col.m8
    {
        -ms-flex:0 0 66.6666666667%;
        flex:0 0 66.6666666667%;
        max-width:66.6666666667%;
    }
    .col.m7
    {
        -ms-flex:0 0 58.3333333333%;
        flex:0 0 58.3333333333%;
        max-width:58.3333333333%;
    }
    .col.m6
    {
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%;
    }
    .col.m5
    {
        -ms-flex:0 0 41.666666667%;
        flex:0 0 41.666666667%;
        max-width:41.666666667%;
    }
    .col.m4
    {
        -ms-flex:0 0 33.333333333%;
        flex:0 0 33.333333333%;
        max-width:33.333333333%;
    }
    .col.m3
    {
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%;
    }
    .col.m2
    {
        -ms-flex:0 0 16.666666667%;
        flex:0 0 16.666666667%;
        max-width:16.666666667%;
    }
    .col.m1
    {
        -ms-flex:0 0 8.3333333333%;
        flex:0 0 8.3333333333%;
        max-width:8.3333333333%;
    }
    
    /*Grid Order*/
    .order{}
    .order-mFirst
    {
        -ms-flex-order:-1;
        order:-1;
    }
    .order-m0
    {
        -ms-flex-order:0;
        order:0;
    }
    .order-m1
    {
        -ms-flex-order:1;
        order:1;
    }
    .order-m2
    {
        -ms-flex-order:2;
        order:2;
    }
    .order-m3
    {
        -ms-flex-order:3;
        order:3;
    }
    .order-m4
    {
        -ms-flex-order:4;
        order:4;
    }
    .order-m5
    {
        -ms-flex-order:5;
        order:5;
    }
    .order-m6
    {
        -ms-flex-order:6;
        order:6;
    }
    .order-m7
    {
        -ms-flex-order:7;
        order:7;
    }
    .order-m8
    {
        -ms-flex-order:8;
        order:8;
    }
    .order-m9
    {
        -ms-flex-order:9;
        order:9;
    }
    .order-m10
    {
        -ms-flex-order:10;
        order:10;
    }
    .order-m11
    {
        -ms-flex-order:11;
        order:11;
    }
    .order-m12
    {
        -ms-flex-order:12;
        order:12;
    }
    .order-mLast
    {
        -ms-flex-order:13;
        order:13;
    }
    
}
@media screen and (max-width: 610px){
    .wrapper{padding:0rem;}
    .col{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col.s12
    {
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%;
    }
    .col.s11
    {
        -ms-flex:0 0 91.6666666667%;
        flex:0 0 91.6666666667%;
        max-width:91.6666666667%;
    }
    .col.s10
    {
        -ms-flex:0 0 83.3333333333%;
        flex:0 0 83.3333333333%;
        max-width:83.3333333333%;
    }
    .col.s9
    {
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%;
    }
    .col.s8
    {
        -ms-flex:0 0 66.6666666667%;
        flex:0 0 66.6666666667%;
        max-width:66.6666666667%;
    }
    .col.s7
    {
        -ms-flex:0 0 58.3333333333%;
        flex:0 0 58.3333333333%;
        max-width:58.3333333333%;
    }
    .col.s6
    {
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%;
    }
    .col.s5
    {
        -ms-flex:0 0 41.666666667%;
        flex:0 0 41.666666667%;
        max-width:41.666666667%;
    }
    .col.s4
    {
        -ms-flex:0 0 33.333333333%;
        flex:0 0 33.333333333%;
        max-width:33.333333333%;
    }
    .col.s3
    {
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%;
    }
    .col.s2
    {
        -ms-flex:0 0 16.666666667%;
        flex:0 0 16.666666667%;
        max-width:16.666666667%;
    }
    .col.s1
    {
        -ms-flex:0 0 8.3333333333%;
        flex:0 0 8.3333333333%;
        max-width:8.3333333333%;
    }
    
    /*Grid Order*/
    .order{}
    .order-sFirst
    {
        -ms-flex-order:-1;
        order:-1;
    }
    .order-s0
    {
        -ms-flex-order:0;
        order:0;
    }
    .order-s1
    {
        -ms-flex-order:1;
        order:1;
    }
    .order-s2
    {
        -ms-flex-order:2;
        order:2;
    }
    .order-s3
    {
        -ms-flex-order:3;
        order:3;
    }
    .order-s4
    {
        -ms-flex-order:4;
        order:4;
    }
    .order-s5
    {
        -ms-flex-order:5;
        order:5;
    }
    .order-s6
    {
        -ms-flex-order:6;
        order:6;
    }
    .order-s7
    {
        -ms-flex-order:7;
        order:7;
    }
    .order-s8
    {
        -ms-flex-order:8;
        order:8;
    }
    .order-s9
    {
        -ms-flex-order:9;
        order:9;
    }
    .order-s10
    {
        -ms-flex-order:10;
        order:10;
    }
    .order-s11
    {
        -ms-flex-order:11;
        order:11;
    }
    .order-s12
    {
        -ms-flex-order:12;
        order:12;
    }
    .order-sLast
    {
        -ms-flex-order:13;
        order:13;
    }

    /*Tooltip*/
    .tooltip-right
    {
        top:100%;
        left:50%;
        margin-left:-60px;
    }
    .tooltiptext.tooltip-right::after
    {
        position: absolute;
        top:-19%;  /* At the top of the tooltip */
        left:50%;
        margin-left:-5px;
        border-width:5px;
        border-style:solid;
        border-top-color:transparent;
        border-left-color:transparent;
        border-right-color:transparent;
        border-bottom-color:inherit;
    }
    .tooltip-left
    {
        top:-50%;
        bottom:100%;
        left:50%;
        margin-left:-60px;
    }
    .tooltiptext.tooltip-left::after
    {
        position: absolute;
        top: 117.6666666667%; /* At the bottom of the tooltip */
        left:50%;
        margin-left:-5px;
        border-width:5px;
        border-style:solid;
        border-top-color:inherit;
        border-left-color:transparent;
        border-right-color:transparent;
        border-bottom-color:transparent;
    }
}